
.button {
    background: none;
    border: 1px solid $grey;
    color: black;
    padding: 10px 5px;
    width:100%;
}

.button--link {
    background: none;
    border:none;
    color: red;
    padding: 0;
}
