.container {
    max-width:800px;
    margin: 0 auto;
    padding: 0 $m-size;
}

.flexs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: $desktop-breakpoint) {
    .container {
        max-width:auto;
        padding: 0 $s-size;
    } 
    .flexs{
        flex-direction: column;
    }
    
}