// Color
$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

$white: #ffffff;
$lite-green: linear-gradient(rgba(0,229,145,1), rgba(47,239,188,1));
$grey: #d3d3d3;
$black: #000000;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2*$m-size;
$xl-size: 3*$m-size;
$desktop-breakpoint: 45rem;